{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nobis placeat magni dolore, 
            vel perferendis molestias vitae, cupiditate ipsum aut odit tempore voluptatum dolores? Nihil 
            praesentium aperiam quae dicta sequi iste accusamus recusandae, laudantium itaque ratione, 
            aspernatur tenetur fuga deleniti veritatis quod omnis impedit adipisci voluptatum vero cum 
            animi odio repellendus nostrum! Praesentium deserunt quos error, soluta saepe ratione, quia, 
            modi eum nesciunt consectetur non adipisci eveniet ullam officiis repellat quis 
            necessitatibus! Id numquam laboriosam aspernatur cumque. Voluptates unde sed repudiandae 
            molestias laudantium dolor itaque, laborum explicabo deleniti? Nisi perspiciatis accusamus, 
            cumque nihil quas unde aperiam? Quod repudiandae ad aut.
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup">
                Signup
            </a>
        </div>

    
    </section>
</main>

{% endblock %}
